In [2]:
import pandas as pd
import numpy as np

import random
import string

from datetime import timedelta

In [3]:

def generateData(start="20180101T00:00:00Z", count=100, columns=1, maxSeconds=108000):
    nextDate = pd.Timestamp("20180101T00:00:00Z")
    data = []
    for i in range(0,count):
        nextDate = nextDate + timedelta(seconds=random.randint(0,maxSeconds))
        data.append([nextDate] +  [random.choice(string.ascii_letters).lower() for i in range(0,columns)]) 
    return data

In [4]:
logdata = generateData(count=10000,columns=3,maxSeconds=300)

print(logdata[0],logdata[-1])

[Timestamp('2018-01-01 00:04:08+0000', tz='UTC'), 'n', 'h', 't'] [Timestamp('2018-01-18 06:20:05+0000', tz='UTC'), 'e', 's', 'v']

In [5]:
data = pd.DataFrame(logdata,columns=['datestamp','spam','eggs','hash'])
data.head()

                  datestamp spam eggs hash
0 2018-01-01 00:04:08+00:00    n    h    t
1 2018-01-01 00:04:41+00:00    c    n    x
2 2018-01-01 00:09:14+00:00    o    z    v
3 2018-01-01 00:10:57+00:00    g    x    g
4 2018-01-01 00:13:58+00:00    p    c    h

In [6]:
cols = ['spam','eggs','hash']
s = data.copy()
#s = data[data.spam=='s' and data.eggs == 'e' and data.hash == 'h'].copy()
#s = s[['datestamp','spam','eggs','hash']]
#s['spam'] = s['spam'].map({'s': 1.0})
for col in cols:
    s[col] = s[col].map({col[0]:1.0})

a= "50"
    
s.index=s['datestamp']
del s['datestamp']
s.fillna(0,inplace=True)
print(s.head())
perDay = s.resample('D').sum()
print(perDay.head())
perDay.plot()

                           spam  eggs  hash
datestamp
2018-01-01 00:04:08+00:00   0.0   0.0   0.0
2018-01-01 00:04:41+00:00   0.0   0.0   0.0
2018-01-01 00:09:14+00:00   0.0   0.0   0.0
2018-01-01 00:10:57+00:00   0.0   0.0   0.0
2018-01-01 00:13:58+00:00   0.0   0.0   1.0
                           spam  eggs  hash
datestamp
2018-01-01 00:00:00+00:00  17.0  20.0  16.0
2018-01-02 00:00:00+00:00  21.0  24.0  18.0
2018-01-03 00:00:00+00:00  21.0  29.0  22.0
2018-01-04 00:00:00+00:00  23.0  19.0  23.0
2018-01-05 00:00:00+00:00  25.0  24.0  30.0

/home/dean/anaconda3/lib/python3.7/site-packages/pandas/core/arrays/datetimes.py:1172: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  "will drop timezone information.", UserWarning)

In [7]:
s.describe()

               spam          eggs          hash
count  10000.000000  10000.000000  10000.000000
mean       0.038100      0.039400      0.038200
std        0.191447      0.194554      0.191688
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000
max        1.000000      1.000000      1.000000